.container{
    //background: linear-gradient(90deg, #2F80ED 42.71%, rgba(47, 128, 237, 0) 84.37%);
    width:100%;
    margin-top: 0px;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContent{
    width:50%;
    padding:8rem 4rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.headerTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    color: #FFFFFF;
}
.headerSubtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #FFFFFF;
    opacity: 0.9;
}
.headerButton{
    margin-top: 2rem;
    padding:0.5rem 2.8rem;
    background: #001735;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    border:none;
}
.backgroundImg{
    flex:1;
    height:100%;
}
//-----------------------------
//we Are
//-----------------------------
.weAreContainer{
    position: relative;
}
.weAreContent{
    position: absolute;
    top:15%;
}
.weAreHeading{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 3rem;
line-height: 3rem;
text-align: center;
color: #232323;
margin-bottom: 2rem;
}
.weAreSubHeading{
    width:60%;
    margin:auto;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 2.2rem;
text-align: center;
color: #232323;
margin-top: 2.8rem;
margin-bottom: 2rem;
}
.weAreCards{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    // background-color: yellow;
}
.weAreCard{
    width:25rem;
    //flex:1;
    //margin-right: 2rem;
    background: #2F80ED;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.weAreIcon{
 position: absolute;
    top:-35%;
    //margin-bottom: 10%;
}
.weAreIconMob{
    display:none;
}
.weAreTitle{
    margin-top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
}
.weAreCard hr{
    margin-top: 0.7rem;
    width:50%;
    height:0.5px;
    background-color: #c9c9c9;
}
.weAreSubtitle{
    margin-top: -1rem;
}
.weAreCaption{
    margin-bottom: 1.5rem;
}
.weAreSubtitle,.weAreCaption{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center; 
    color: #FFFFFF;
    opacity: 0.8;   
}
//----------------------------------
//card
//---------------------------------------
.cardsContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
}
.cardContainer{
    box-shadow: -4px 0px 10px 3px rgba(0, 0, 0, 0.1), -2px 0px 6px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.cardImgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardImgHeading{
    display:none;
}
.seeWorkflow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #2F80ED;
}
.seeWorkflow span{
    margin-right:0.3rem;
}
.seeWorkflow:hover{
    cursor: pointer;
}
.workflow{
    z-index:5;
    //background-color: red;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    position :relative;
    background-color: white;
}
.closeButton{
    position: absolute;
    top:0;
    right:0;
}
.closeButton:hover{
    cursor: pointer;
}
.cardsContainer .cardContainer:nth-of-type(odd)
{
    width:95%;
    margin:auto;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    margin-top: 1.5rem;
}
.cardsContainer .cardContainer:nth-of-type(even)
{
    width:95%;
    margin:auto;
    display:flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: stretch; 
    margin-top: 1.5rem;
}
.cardsContainer .cardContainer:nth-of-type(odd) .contentCard{
    background: #303030;
    box-shadow: 4px 0px 10px 3px rgba(0, 0, 0, 0.1), 2px 0px 6px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 40px 40px 0px;
    color:white;
    padding:1.5rem 2rem;
    flex:1;
}
.cardsContainer .cardContainer:nth-of-type(even) .contentCard{
    background: #2F80ED;
    box-shadow: -4px 0px 10px 3px rgba(0, 0, 0, 0.1), -2px 0px 6px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px 0px 40px;
    padding:1.5rem 2rem;
    flex:1;
}
.cardHeading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:2.1rem ;
    line-height: 2.3rem;
    color: #FFFFFF;
    padding-bottom: 1.3rem;
}
.divContainer{
    padding:0.3rem 0rem;
}
.cardSubheading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:1.2rem ;
    line-height: 2rem;
    color: #FFFFFF;
    opacity: 0.8;
}
.cardText{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:1rem ;
    line-height: 1.8rem;
    color: #FFFFFF;
    opacity: 0.7;
}
//-----------------------
//location
//---------------------------
.location{
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.end{
    color:#2F80ED;
}
//------------------------------
//Paid consult
//------------------------------
.paidConsultContainer{
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: flex-start;
    padding:2rem 2rem;
    background: #FAFAFA;
}
.paidConsultMobImgDiv{
    display:none;
}
.paidConsultContent{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-content: center;
    // background-color: blue;
    padding:2rem 4rem;
}
.paidConsultHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding:1rem;
    margin-right: -3rem;
}
.paidConsultHeading span{
    flex:1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #000000;
    // background-color: yellow;
    margin-right:1rem;
}
.paidConsultSub1,.paidConsultSub2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paidConsultSub1 span:nth-child(1),.paidConsultSub2 span:nth-child(1){
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 42px;
    color: #000000;
    opacity: 0.8;
    padding-right:0.5rem;
    padding-bottom: 0.5rem;
}
.paidConsultSub1 span:nth-child(2),.paidConsultSub2 span:nth-child(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 42px;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 0.5rem;

}
.akshat{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.paidConsultButton{
    margin-top: 2rem;
    background: #2F80ED;
    border: none;
    border-radius: 10px;
    padding:0.9rem 3rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    color: #FFFFFF;
    text-align: center;
}

//-----------------------------
//freeConsult
//-----------------------------
.freeConsultContainer{
    width:100%;
    position: relative;
}
.freeConsult{
    position: absolute;
    top:25%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.freeConsultContent{
 
 text-align: center;
}
.freeConsultContent div{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8rem;
    line-height: 66px;
    color: #FFFFFF;
    padding:1.8rem;
}

.freeConsultContent button{
    background: #2F80ED;
    border: none;
    border-radius: 10px;
    padding:1rem 3rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}

@media(max-width:1260px){
    //--------------------------
    //We Are
    //---------------------------
    .weAreContainer{
        background-color: black;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:2rem;
    }
    .weAreBg{
        display:none;
    }
    .weAreCards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .weAreCard:nth-child(1){
        margin-top:1.5rem;
    }
    .weAreCard:nth-child(2){
        margin-top:4rem;
    }
    .weAreCard{
        background: radial-gradient(100.73% 225.04% at 0% 100%, #2F80ED 2.6%, rgba(47, 128, 237, 0) 12.5%), radial-gradient(69.98% 156.34% at 0% 100%, #2F80ED 23.44%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width:80%;
    }
    .weAreContent{
        position: relative;
    }
    .weAreIconMob{
        position: absolute;
        display:block;
           top:-18%;
           //margin-bottom: 10%;
       }
       .weAreIcon{
           display:none;
       }
    .weAreHeading{
        color:white;
         padding:1rem;
    }
    .weAreSubHeading{
        width:70%;
        color:white;
    }
    .weAreTitle{
        color:black;
        font-weight: 500;
        font-size:2rem;
    }
    .weAreSubtitle,.weAreCaption{
        color:black;
        opacity:0.8;
        font-size:1.3rem;
        line-height:1.8rem;
    }
    //------------------------
    //PaidConsult
    //----------------------
    .paidConsultImg{
        width:500px;   
    }
    .paidConsultContent{
        align-items: flex-start;
        padding:2rem 2rem;
    }
    .paidConsultHeading{
        padding-left:0;
    }
    .paidConsultHeading span{
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-right: 0.7rem;
    }
.paidConsultSub1 span:nth-child(1),.paidConsultSub2 span:nth-child(1){
    font-size:1.5rem;
    line-height: 1.8rem;
    flex:1;
}
.paidConsultSub1 span:nth-child(2),.paidConsultSub2 span:nth-child(2){
    font-size:1.22rem;
    line-height: 1.8rem;
}
.paidConsultButton{
    padding:0.7rem 2.3rem;
    font-size: 1.3rem;
}
.akshat{
    width:90px;
    height:90px;
}

}

@media(max-width:1100px){
    //---------------------
    //Cards
    //-----------------------------
    .cardImgHeading{
        width:80%;
        padding:1.5rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.7rem;
        display: flex;
        align-items: center;
        text-align: center;    
        color: #232323;    
    }
    .cardImgContainer{
        padding:1.5rem;
    }
    .cardHeading{
        display:none;
    }
   .cardsContainer .cardContainer:nth-of-type(even){
       flex-direction: column;
       margin-top: 2.5rem;
   }
   .cardsContainer .cardContainer:nth-of-type(odd){
    flex-direction: column;
    margin-top: 2.5rem;

    }
.cardsContainer .cardContainer:nth-of-type(even) .contentCard{
    background-color:  #303030;
}
//--------------------------------------------
//FreeConsult
//-----------------------------------------
.freeConsult{
    top:18%;
}
.freeConsultContent div{
    font-size:2.3rem;
}
.freeConsultContent button{
    font-size: 1.3rem;
    padding:0.8rem 2.7rem;
}
}
@media(max-width:940px){
    //----------------------------
    //Paid Consult
    //-----------------------------
    .paidConsultContainer{
        justify-content: center;
    }
    .paidConsultImgDiv{
        display:none;
    }
    .paidConsultMobImgDiv{
        flex:1;
       // background:red;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    //--------------------------------------------
//FreeConsult
//-----------------------------------------
// .freeConsultContainer{
//     min-height: 500px;
// }
.freeConsult{
    top:12%;
}
.freeConsultContent div{
    font-size:2rem;
    padding:1.2rem;
}
.freeConsultContent button{
    font-size: 1.1rem;
    padding:0.8rem 2.7rem;
}
.freeConsultBg{
    height:100%;
}
.location{
    font-size:1.2rem;
    padding:1.7rem;
}
}

@media(max-width:726px){
    //--------------------------
    //card
    //-------------------------
    .cardImgHeading{
        width:95%;
    }
    //-------------------------
    //freeConsult
    //-----------------------------
    .freeConsult{
        top:5%;
    }
    .freeConsultContent div{
        font-size:1.5rem;
        padding:0.5rem;
    }
    .freeConsultContent button{
        font-size: 0.8rem;
        padding:0.5rem 2.4rem;
    }
}
@media(max-width:530px){
    //------------------------------------
    //we are
    //-----------------------------------------
    .weAreIconMob{
        top:-20%;
    }
    .weAreCard:nth-child(1){
        margin-top: 0.5rem;
    }
    .weAreCard:nth-child(2){
        margin-top: 3.5rem;
    }
    .weAreCard{
        width:100%;
    }
    .weAreHeading{
        font-size: 2.2rem;
    }
    .weAreSubHeading{
        width:90%;
        font-size:1.3rem;
        line-height: 32px;
    }
    .weAreTitle{
        padding-top:0.5rem;
        font-size:1.5rem;
    }
    //-----------------------------
    //Card
    //-----------------------------
    .cardImg{
        width:300px;
        height:300px;
    }
    //-----------------------------
    //PaidConsult
    //----------------------------------
    .akshat{
        display:none;
        width:0;
        height:0;
    }
   
    .paidConsultHeading span{
        font-size:1.4rem;
        line-height: 2rem;
        margin-right:0;
    }
.paidConsultSub1 span:nth-child(1),.paidConsultSub2 span:nth-child(1){
    font-size:1.2rem;
    line-height: 1.5rem;
}
.paidConsultSub1 span:nth-child(2),.paidConsultSub2 span:nth-child(2){
    font-size: 1rem;
    line-height: 1.5rem;
}

.paidConsultButton{
    padding:0.3rem 1.5rem;
    font-size: 0.8rem;
    margin-top:0.5rem;
}
    //-------------------------
    //freeConsult
    //-----------------------------
    .freeConsult{
        top:1%;
    }
    .freeConsultContent div{
        font-size:1.2rem;
        padding:0.2rem;
    }
    .freeConsultContent button{
        font-size: 0.8rem;
        padding:0.3rem 2rem;
    }
    //------------------------------
    //location
    //------------------------
    .location{
        font-size:0.9rem;
        padding:1.2rem;
    }
}