.container{
    //background: linear-gradient(90deg, #2F80ED 42.71%, rgba(47, 128, 237, 0) 84.37%);
    width:100%;
    margin-top: 0px;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContent{
    width:50%;
    padding:8rem 4rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.headerTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    color: #FFFFFF;
}
.headerSubtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #FFFFFF;
    opacity: 0.9;
}
.headerButton{
    margin-top: 2rem;
    padding:0.5rem 2.8rem;
    background: #001735;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
}
.backgroundImg{
    flex:1;
    height:100%;
}
//-----------------------------
//we Are
//-----------------------------
.weAreContainer{
    position: relative;
}
.weAreContent{
    position: absolute;
    top:20%;
}
.weAreHeading{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 2.8rem;
line-height: 3rem;
text-align: center;
color: #232323;
margin-bottom: 2rem;
}
.weAreSubHeading{
    width:60%;
    margin:auto;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 2.2rem;
text-align: center;
color: #232323;
margin-top: 2.5rem;
margin-bottom: 2rem;
}
.weAreCards{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    // background-color: yellow;
}
.weAreCard{
    width:25rem;
    //flex:1;
    //margin-right: 2rem;
    background: #2F80ED;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.weAreIcon{
 position: absolute;
    top:-35%;
    //margin-bottom: 10%;
}
.weAreTitle{
    margin-top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
}
.weAreCard hr{
    margin-top: 0.7rem;
    width:50%;
    height:0.5px;
    background-color: #c9c9c9;
}
.weAreSubtitle{
    margin-top: -1rem;
}
.weAreCaption{
    margin-bottom: 1.5rem;
}
.weAreSubtitle,.weAreCaption{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center; 
    color: #FFFFFF;
    opacity: 0.8;   
}
//----------------------------------
//card
//---------------------------------------
.cardsContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
}
.cardContainer{
    box-shadow: -4px 0px 10px 3px rgba(0, 0, 0, 0.1), -2px 0px 6px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.cardsContainer .cardContainer:nth-of-type(odd)
{
    width:95%;
    margin:auto;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    margin-top: 1.5rem;
}
.cardsContainer .cardContainer:nth-of-type(even)
{
    width:95%;
    margin:auto;
    display:flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: stretch; 
    margin-top: 1.5rem;
}
.cardsContainer .cardContainer:nth-of-type(odd) .contentCard{
    background: #303030;
    box-shadow: 4px 0px 10px 3px rgba(0, 0, 0, 0.1), 2px 0px 6px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 40px 40px 0px;
    color:white;
    padding:1.5rem 2rem;
    flex:1;
}
.cardsContainer .cardContainer:nth-of-type(even) .contentCard{
    background: #2F80ED;
    box-shadow: -4px 0px 10px 3px rgba(0, 0, 0, 0.1), -2px 0px 6px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px 0px 40px;
    padding:1.5rem 2rem;
    flex:1;
}
.cardHeading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:2.1rem ;
    line-height: 2.3rem;
    color: #FFFFFF;
    padding-bottom: 1.3rem;
}
.divContainer{
    padding:0.3rem 0rem;
}
.cardSubheading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:1.2rem ;
    line-height: 2rem;
    color: #FFFFFF;
    opacity: 0.8;
}
.cardText{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size:1rem ;
    line-height: 1.8rem;
    color: #FFFFFF;
    opacity: 0.7;
}
//-----------------------
//location
//---------------------------
.location{
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.end{
    color:#2F80ED;
}
//------------------------------
//Paid consult
//------------------------------
.paidConsultContainer{
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: flex-start;
    padding:2rem 2rem;
    background: #FAFAFA;
}
.paidConsultContent{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-content: center;
    // background-color: blue;
    padding:2rem 4rem;
}
.paidConsultHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding:1rem;
    margin-right: -3rem;
}
.paidConsultHeading span{
    flex:1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 66px;
    color: #000000;
    // background-color: yellow;
    margin-right:1rem;
}
.paidConsultSub1,.paidConsultSub2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paidConsultSub1 span:nth-child(1),.paidConsultSub2 span:nth-child(1){
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 42px;
    color: #000000;
    opacity: 0.8;
    padding-right:0.5rem;
    padding-bottom: 0.5rem;
}
.paidConsultSub1 span:nth-child(2),.paidConsultSub2 span:nth-child(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 42px;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 0.5rem;

}
.akshat{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.paidConsultButton{
    margin-top: 2rem;
    background: #2F80ED;
    border: none;
    border-radius: 10px;
    padding:0.9rem 3rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    color: #FFFFFF;
    text-align: center;
}

//-----------------------------
//freeConsult
//-----------------------------
.freeConsultContainer{
    width:100%;
    position: relative;
}
.freeConsult{
    position: absolute;
    top:25%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.freeConsultContent{
 
 text-align: center;
}
.freeConsultContent div{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8rem;
    line-height: 66px;
    color: #FFFFFF;
    padding:1.8rem;
}

.freeConsultContent button{
    background: #2F80ED;
    border: none;
    border-radius: 10px;
    padding:1rem 3rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}