@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

.footerContainer{
    width:100%;
    margin-bottom:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#232323;;
    color:white;
    padding:81px;
}

.footerContainer .iconContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerContainer .icons{
    margin:0px 20px;
}

.footerContainer hr{
    margin:30px 20px auto;
    width: 70%;
    opacity: 0.4;
    border: 0.5px solid #FFFFFF;
}

.footerContainer .title,.subtitle{
    width: 80%;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top:30px;
}

.footerContainer .subtitle{
    margin-bottom: -10px;
}

@media(max-width:876px){
    .socio-icon{
        width:40px;
        height:40px;
    }
    .footerContainer .icons{
        margin:0px 12px;
    }
    .footerContainer .title,.subtitle{
        width:95%;
        font-size: 1.2rem;
        line-height: 35px;
    }
}

@media(max-width:565px){
    .footerContainer{
        padding:40px 30px;
    }
    .socio-icon{
        width:30px;
        height:30px;
    }
    .footerContainer .icons{
        margin:0px 8px;
    }
    .footerContainer .title,.subtitle{
        width:100%;
        font-size: 1rem;
        line-height: 30px;
        margin-top: 20px;
    }
    .footerContainer hr{
        margin:25px 15px auto;
        width: 80%;
        border: 0.2px solid #FFFFFF;
    }
    .footerContainer .subtitle{
        margin-bottom: 10px;
    }
}

@media(max-width:470px){
    .footerContainer{
        padding:20px 20px;
    }
   .socio-icon{
       height: 20px;
       width: 20px;
   }
   .footerContainer .icons{
    margin:0px 6px;
   }
   .footerContainer hr{
    margin: 10px;
   }
   .footerContainer .title,.subtitle{
       margin-top: 10px;
       font-size: 0.8rem;
       line-height: 0.8rem;
   }
   .footerContainer .subtitle{
       margin-bottom: 3px;
   }
   
  
}


