// -------------------------
// header
// -------------------------

.container{
    width: 100%;
    // height:110vh;
    margin-top: 0px;
    background-color: #2F80ED;
    background-blend-mode: color-burn;
}


.headerContent{
    margin-top: 3rem;
    width:92%;
    margin:auto;
    display:flex;
    flex-direction: row;
    align-items:center;
    padding:2rem 0;
}
.content{
    display: flex;
    flex-direction: column;
   width:50%;
    
}

.contentHeading{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 3.4rem;
color: #FFFFFF;
text-align: center;
margin-top: 3rem;
margin-bottom: 2rem;
}

.innerContent{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.contentCard{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 99px;
    padding:0.6rem 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-right:15px;
    color: #232323;
}

.contentSubtitle{
    font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 1.2rem;
line-height: 1.4rem;
color: #0052C1;
}
.B2BContainer{
    width:50%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: stretch;
    // right:2.5rem;
    // position: relative;
}
// ---------------------------------
// PROCESS
// -------------------------------------

.container2{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding:6rem 3rem;
    background: #FAFAFA;
    border-radius: 10px;
}

.processCard{
    width:33%;
    background: #001735;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding:2rem 0.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0rem 1rem;
}

.scrollContainer{
    display: flex;
    flex-direction: row;

}

.processTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.4rem;
    text-align: center;
    color: #FFFFFF;
}

.processSubtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 36px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}
.processButton{
    background-color: #FFFFFF;
    padding:0.5rem 1.3rem;
    margin-top: 1rem;
    border-radius: 10px;
    border:none;
}

// ---------------------------------
// PACKAGE
// --------------------------------

.container3{
    position: relative;
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid rgba(35, 35, 35, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:2.5rem 0rem;
}
.packageContainer{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;
}
.packages{
   width:30%;
   height:400px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding:2rem 0;
 }
 .packageImg{
     height:300px;
     display:flex;
     align-items: center;
 }
  .text{
      width:250px;
      display:flex;
      align-items: center;
      font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: center;
    color: #000000;
    word-wrap: break-word;
    // background-color: blue;
 }
// -------------------------------------
// Package list ----------
// ------------------------------------
.container5{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
}
.packageList{
    width:100%;
    padding:1.1rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #2F80ED;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.packageList span{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 42px;
text-align: center;
color: #FFFFFF;
z-index:2;
}

.spans{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.spans span{
    width:50px;
    height:50px;
    background: #2F80ED;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
    margin-top:-35px;
    z-index:1;
}
.amount{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:2.1rem;
}
.amount span{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.5rem;
line-height: 42px;
text-align: center;
color: #2F80ED;
}

// ----------------------------------------
// Consultation
// ----------------------------------------

.container4{
    width:100%;
    margin:auto;
    padding:3rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contactBox{
    width:50%;
    padding:0 1.5rem;
}

.consultTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 59px;
    color: #001735;
}

.consultSubtitle{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 1.5rem;
line-height: 42px;
color: #000000;
}
.consultButton{
    background: #2F80ED;
    border-radius: 10px;
    padding:0.5rem 2.5rem;
    outline: none;
    border:none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
}
.consultButton:hover{
    opacity: 0.9;
    cursor: pointer;
}
.contactImg{
    width:50%;
}

//---------------------------------
//Video
//---------------------------------
.container6{
    width:100%;
    background-color:#2F80ED;
    padding:3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container6 a{
    width:60%;
    margin:auto;
}



@media(max-width:1120px){
    //--------------------------------
    //Header
    //--------------------------------
    .headerContent{
        flex-direction: column-reverse;
    }
    .B2BContainer{
       width:70%;
    }
    .content{
        width:80%;
    }
    //------------------
    //consultation
    //--------------------
    .consultationImg{
        width:400px;
        height:500px;
        right:20px;
    }
    .container4{
        padding:2rem 1rem;
    }
    .consultTitle{
        font-size:1.6rem ;
        line-height:45px;
    }
    .consultSubtitle{
        font-size: 1rem;
        line-height: 32px;
    }
    .consultButton{
        padding:0.25rem 2rem;
        font-size: 0.9rem;
    line-height: 32px;
    }
    //--------------------------
    //packages
    //-----------------------
    .packages{
        width:50%;
    }
    //-----------------
    //video
    //-------------------
    .container6 a{
        width:80%;
    }
    //-----------------------
    //process
    //-------------------------
    .scrollContainer{
        display: flex;
       overflow-x: scroll;
        width:100%;
        justify-content: flex-start;
        padding: 30px;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .scrollContainer::-webkit-scrollbar {
        width: 1em;
        border-radius: 10px;
      }
       
      .scrollContainer::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      .scrollContainer::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
      .processCard{
        flex: 0 0 400px; 
        height: 20rem;
      }
}

@media(max-width:846px){
    //header
    .B2BContainer{
        width:80%;
        justify-content: center;
    }
    .contentHeading{
        font-size: 2.5rem;
        line-height: 2.9rem;
    }
//-----------------
//video
//----------------
.container6{
    padding:1rem;
}
.container6 a{
    width:90%;
}
//------------------
//header
//------------------------
.headerContent{
    flex-direction: column-reverse;
}
.content{
    flex:2;
}
.helpB2BImg{
    width:400px;
    height:400px;
}
//------------------------
//package
//------------------------
.packageIcon{
    width:200px;
    height:150px;
}
.packages{
    height:250px;
}
.text{
    width:200px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
//-----------------------------
//package list
//---------------------------
.packageList span{
    font-size: 1.2rem;
}
.packageList{
    padding:0.8rem 0rem;
}
//----------------------------
//consultation
//---------------------------
.consultationImg{
    width:250px;
    height:300px;
    right:0px;
}
.container4{
    padding:1rem 0.5rem;
}
.consultTitle{
    font-size:1.3rem ;
    line-height:32px;
}
.consultSubtitle{
    font-size: 1rem;
    line-height: 32px;
}
.consultButton{
    padding:0.25rem 1.6rem;
    font-size: 0.9rem;
}
//-------------------------
//process
//-------------------------
.processTitle{
    font-size: 2.5rem;
    line-height: 2.8rem;
}
.processSubtitle{
    font-size: 1rem;
}
  .processCard{
    flex: 0 0 350px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
    height: 20rem;
}
}

@media(max-width:585px){
    //------------------------------------
    //header
    //-----------------------------------------
  
    
    .B2BContainer{
        width:95%;
    }
    .headerContent{
        padding-top: 1rem;
        width:100%;
    }
    .content{
        padding: 0rem 1rem;
        width:95%;
        
    }
    .content h1{
        padding:0 0.8rem;
        font-size: 2.3rem;
        margin-top:0;
    }
    .contentCard{
        flex-direction: column;
    }
    .headerIcon{
        width:80px;
        height:80px;
        z-index:5;
    }
    .contentCard{
        border-radius: 30px;
        width:90%;
        margin-bottom: 1rem;
        padding:0.5rem 1rem;
        margin-left: -2.5rem;
        z-index:1;
    }
    .contentTitle{
        font-size: 1rem;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        margin-right: 0;
    }
    .contentSubtitle{
        font-size: 0.9rem;
    }
    //-----------------------
    //process
    //--------------------------
    .container2{
        padding:2rem 1rem;
    }
    .scrollContainer{
    padding: 30px 0px;
    }
    .processTitle{
        font-size: 1.7rem;
        line-height: 40px;
    }
    .processSubtitle{
        font-size: 1rem;
    }
      .processCard{
        flex: 0 0 250px; 
        height: 17rem;
        margin:1rem 0.5rem;
    }
    //--------------------
    //consultation
    //--------------------
    .contactBox{
        width:55%;
    }
    .consultTitle{
        font-size:1.1rem ;
        line-height:1.3rem;
    }
    .consultSubtitle{
        margin-top: 10px;
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .consultButton{
        margin-top: 0.7rem;
        padding:0.25rem 0.8rem;
        font-size: 0.5rem;
    line-height: 0.7rem;
    }
   .contactImg{
       width:45%;
   }
    //----------------------
    //packages
    //-----------------------
    .container3{
        width:95%;
    }
    .packageIcon{
        width:110px;
        height:100px;
    }
    .packages{
        height:180px;
    }
    .text{
        margin-top: 10px;
        width:50%;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    //--------------------------
    //package list
    //-------------------------
    .container5{
        width:95%;
    }
    .packageList span{
        font-size: 1rem;
    }
    .packageList{
        padding:0.3rem 0rem;
    }
    .spans span{
        width:30px;
        height:30px;
        margin-top: -20px;
    }
    .amount {
        margin-top: 1rem;
    }
    .amount span{
        font-size: 1rem;
    }
}

@media(max-width:350px){
    .consultTitle{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .consultSubtitle{
        font-size: 0.6rem;
        line-height: 0.8rem;
    }
}