.navContainer{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:3% 5%;
    justify-content: space-between;
}
.logo{
    width:150px;
    height:2rem;  
}

.nav{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    display: flex;
    width:50%;
    color: #FFFFFF; 
   
}

.navToggle{
    display:none;
}

.navlist{
    margin-right:10%;
    list-style-type: none;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
  }

  .dropdown a {
    color:black;
  padding: 0.7rem 4rem 0.7rem 0.7rem;
  text-decoration: none;
  display: block;
    font-size: 1rem;
}

.dropdown a:hover {
    background: #fafafaea;
}

  .navlist:hover .dropdown {
      margin-top: 0.4rem;
      margin-left: -2rem;
      padding:0.7rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      background-color: white;
      text-align: left;
     
    }

    @media(max-width:1320px)
    {
        .nav{
            // display:none;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            background-color:white;
            color:black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            z-index: 2;
            padding:1rem;
        }
        .text{

        }
        .arrow{
            padding-left: 20px;
            display:flex;
            align-items: center;
            justify-content: center;
            // transform:scale(2) rotate(90deg);
            // -ms-transform: rotate(90deg); /* IE 9 */
            transform: rotateZ(90deg);
            // background-color: red;
            // padding-bottom: 10px;
        }
        .navlist{
            padding:0.5rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        .navToggle{
            display:flex;
            flex-direction: column;
            z-index: 5;
        }
        .navToggle span{
            width:3.5rem;
            height:5px;
            background-color:black;
            margin:5px;
        }  
          .dropdown{ 
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: static;
         }  
         .arrow:hover .dropdown{
             display:flex;
         }
    }
  