.teamContainer{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}
.founder{
    background: #2F80ED;
    box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex:1;
    position: relative;
}
.founderImg{
    width:250px;
    height:250px;
    border-radius: 50%;
    background-color: white;
}
.name{
    padding:0.8rem 0.5rem 0rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.designation{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}
.team{
    flex:3;
    background: #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.arrow{
    color: white;
    font-size: 5rem;
    font-weight: 600;
    cursor: pointer;
    opacity:0.7;
}
.arrow:hover{
    opacity: 0.3;
}

@media(max-width:846px)
{
    .teamContainer{
        flex-direction: column;
    }
    .arrow{
        font-size: 4rem;
    }
    .founderImg{
        width:200px;
        height:200px;
    }
    .founder,.team{
        padding:1.5rem;
    }
    .name{
        font-size: 1.4rem;
    }  
}

@media(max-width:565px){
    .founderImg{
        width:150px;
        height:150px;
    }
    .arrow{
        font-size: 3rem;
    }
    .founder,.team{
        padding:1.5rem;
    }
    .name{
        font-size: 1.2rem;
        line-height: 32px;
    }  
    .designation{
        font-size: 0.8rem;
    }
}