.container7{
    width:100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
    padding:2.1rem 3rem;
}
.container7 h2{
    font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 2.5rem;
line-height: 70px;
text-align: center;
color: #001735;
}

.testimonials{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.testimonials .testimonialCard:nth-child(1)
{
    width:50%;
    margin-left: 10%;
    margin-right: 5%;
}
.testimonials .testimonialCard:nth-child(2)
{
    margin-right: 10%;
    width:40%;
}


.testimonialCard{
    position: relative;
    padding:3rem 2rem;
    display:flex;
    flex-direction: column;
    justify-content: start;
    background: #FFFFFF;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

.top{
   max-width:100%;
    background: linear-gradient(90deg, #2F80ED 0%, #2FB4ED 100%);
    border-radius: 0px 12px 12px 0px;
    margin-left:-2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top h3{
    padding:0;
    color: white;
    font-size: 1.1rem;
    margin: 0;
    margin-right: 20px;
    // padding-left: 50%;
}
.pic{
    position: absolute !important;
    overflow: hidden;
    top: 0;
    transform: translateY(40%);
    left: 10%;
    width:5rem;
    height:5rem;
    border-radius: 50%;
}
.body{
    text-align: justify;
    padding:3rem 1.5rem 1rem;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.3rem;
line-height: 32px;
color: #000000;
opacity: 0.6;
word-wrap: break-word;
}
.desig{
    text-align: justify;
    padding:0rem 1rem;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 1.25rem;
line-height: 30px;
color: #000000;
}

@media(max-width:1532px)
{
    .testimonials .testimonialCard:nth-child(1)
{
    width:50%;
    
    margin-left: 10%;
    margin-right: 5%;
}
.testimonials .testimonialCard:nth-child(2)
{
    margin-right: 10%;
    width:50%;
}
}

@media(max-width:1532px){
    .testimonials .testimonialCard:nth-child(1)
    {
        width:60%;
        
        margin-left: 5%;
        margin-right: 3%;
    }
    .testimonials .testimonialCard:nth-child(2)
    {
        margin-right: 5%;
        width:60%;
    }
}

@media(max-width:1200px){
    .testimonials .testimonialCard:nth-child(1)
    {
        width:60%;
        
        margin-left:2%;
        margin-right: 2%;
    }
    .testimonials .testimonialCard:nth-child(2)
    {
        margin-right: 2%;
        width:60%;
    }
    .body{
        font-size: 1.1rem;
        line-height: 28px;
    }
    .desig{
        font-size:1rem ;
        line-height: 24px;
    }
    .top h3{
        font-size:1rem ;
    }

    
}

@media(max-width:1021px){
    .testimonials{
        display: flex; /* displays flex-items (children) inline */
        width:100%;
        justify-content: flex-start;
        padding: 30px;
        flex-direction: row;
        align-items: flex-start;
    }
    .testimonials .testimonialCard:nth-child(1)
    {
        flex: 0 0 600px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
        height: 30rem;
    }
    .testimonials .testimonialCard:nth-child(2)
    {
        flex: 0 0 500px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
        height: 30rem;
    }
    .scrollContainer{
        display: flex;
       padding:0;
       overflow-x: scroll;
       width:100%;
    }

    .scrollContainer::-webkit-scrollbar {
        width: 1em;
        border-radius: 10px;
      }
       
      .scrollContainer::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      .scrollContainer::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
}

@media(max-width:880px){
    .container7{
        padding:2rem 2rem;
    }
    .testimonials{
        display: flex; /* displays flex-items (children) inline */
        width:100%;
        justify-content: flex-start;
        padding: 10px;
        flex-direction: row;
        align-items: flex-start;
    }
    .testimonials .testimonialCard:nth-child(1)
    {
        flex: 0 0 450px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
        height: 35rem;
    }
    .testimonials .testimonialCard:nth-child(2)
    {
        flex: 0 0 450px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
        height: 35rem;
    }
}

@media(max-width:644px){
    .container7{
        padding:1.5rem 1rem;
    }
    .testimonials .testimonialCard:nth-child(1) .body{
        font-size: 1rem;
        margin-left:-2rem;
        margin-right: -2rem;
    }
    .testimonials .testimonialCard:nth-child(2) .body{
        font-size: 1rem;
    }
    .desig{
        font-size: 1.1rem;
    }
    .testimonials .testimonialCard:nth-child(1)
    {
        flex: 0 0 400px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
        height: 30rem;
    }
    .testimonials .testimonialCard:nth-child(2)
    {
        flex: 0 0 400px; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
        height: 30rem;
    }
}
